<!DOCTYPE html>
<html>
<head>
    <style>
        .product-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            position: relative;
            height: 100%;
        }

        .product-image-container {
            width: 50%;
            height: 80%;
            margin-right: 50px;
            display: flex;
            justify-content: center;
        }

        .product-info {
            padding: 20px;
            height: 90%;
            width: 50%;
            background-color: cyan;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
        }

        .description-text-container {
            font-weight: bold;
            font-size: 300%;    
            display: flex;
            flex-direction: row;
        }

        .description-box {
            font-size: 200%;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            height: 30%;
            margin-bottom: 40px;
        }

        .brandModel-text-container {
            font-weight: bold;
            font-size: 300%;
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-content: center;
        }

        .brandModel-box {
            font-size: 60%;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            height: 100%;
            width: 100%;
        }

        .create-product-button-container {
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 30%;
        }

        .create-product-button {
            display: flex;
            align-items: center;
            width: 500px;
            height: 100px;
            background-color: purple;
            border-radius: 15px;
            cursor: pointer;
        }

        .create-product-button-text {
            margin: 0 auto;
            color: white;
            font-weight: bold;
            font-size: 200%;
        }

    </style>
</head>
<body>
    <section class="product-box">
        <div class="product-image-container">
        </div>
        <div class="product-info">
            <div class="description-text-container">Описание:</div>
            <textarea class="description-box"></textarea>
            <div class="brandModel-text-container">Марка:<textarea class="brandModel-box"></textarea></div>
            <div class="brandModel-text-container">Модел:<textarea class="brandModel-box"></textarea></div>
            <div class="create-product-button-container"><div class="create-product-button"><div class="create-product-button-text">Създай продукт</div></div></div>
        </div>  
    </section>
</body>
</html>