﻿<title>Cart</title>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        overflow: auto;
    }

    .product-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        height: 200px;
        min-height: 200px;
        width: 80%;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
    }

    .product-image {
        max-width: 90%;
        max-height: 90%;
        margin: 20px;
    }

    .product-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .product-text {
        font-size: 20px;
        font-weight: bold;
    }

    .product-price {
        font-size: 150%;
        font-weight: bold;
        color: #ef2809;
    }

    .product-quantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 50px;
    }

    .product-quantity-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-quantity-count {
        font-size: 30px;
    }

    .product-remove-button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 90%;
        padding: 20px;
    }

    .product-remove-button {
        cursor: pointer;
        border-radius: 15px;
        background: linear-gradient(to right,#cf3f50,#fe2d34);
        height: 70px;
        width: 70px;
    }

    .product-remove-button-icon {
        font-size: 250%;
        color: #ffffff;
    }

    .final-price-container {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .final-price {
        font-size: 50px;
        color: #ef2809;
        font-weight: bold;
    }

    .promocode-container {
        display: flex;
        flex-direction: row;
    }

    .promocode-box {
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #999999;
        height: 50px;
        width: 300px;
    }

    .promocode-apply-button {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: #0082e6;
        cursor: pointer;
    }

    .promocode-apply-button-text {
        margin: 0 auto;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
    }

    .checkout-button {
        margin: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        height: 100px;
        background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
        border-radius: 15px;
        cursor: pointer;
    }

    .checkout-cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: linear-gradient(left,#4a60c1 10%,#3985e0);
        height: 100px;
        width: 100px;
    }

    .checkout-cart-icon {
        font-size: 300%;
        color: #ffffff;
    }

    .checkout-cart-text {
        margin: 0 auto;
        color: #ffffff;
        font-weight: bold;
        font-size: 200%;
    }

    .product-old-price {
        font-size: 100%;
        font-weight: bold;
        color: #000000;
    }

    .product-price-container {
        display: flex;
        flex-direction: column;
    }

    @@media (max-device-width: 767px) {
        .product-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px;
            height: 300px;
            min-height: 300px;
            width: 80%;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
        }

        .product-image {
            max-width: 60%;
            max-height: 60%;
            margin: 20px;
        }
    }
</style>
<section class="flex-container">
    @foreach (var cart in Model.Carts)
    {
        foreach (var product in Model.Products)
        {
            if (cart.ProductID == product.ProductID)
            {
                <div class="product-box">
                    <img class="product-image" src="@product.ImageURL">
                    <div class="product-info">
                        <div class="product-text">@product.Description</div>
                        @if(product.IsInPromotion)
                        {
                            <div class="product-price-container">
                                <s class="product-old-price">$@product.Price</s>
                                <div class="product-price">$@product.NewPrice</div>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">$@product.Price</div>
                        }                        
                    </div>
                    <div class="product-quantity">
                        <div class="product-quantity-label">Quantity:</div>
                        <div class="product-quantity-count">@cart.Quantity</div>
                    </div>
                    <form class="product-remove-button-container" method="post" asp-action="ProductRemovedFromCart" asp-controller="Cart">
                        <button class="product-remove-button" name="productID" value="@product.ProductID">
                            <i class="product-remove-button-icon fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </div>
            }
        }
    }
    <div class="final-price-container">
        <div class="final-price">Total: $@ViewBag.TotalPrice</div>
        <div class="promocode-container">
            <input class="promocode-box" placeholder="Enter a promocode">
            <div class="promocode-apply-button">
                <div class="promocode-apply-button-text">Apply</div>
            </div>
        </div>
    </div>
    <form method="post" asp-action="Payment" asp-controller="Tech">
        <button class="checkout-button">
            <div class="checkout-cart-button">
                <i class="checkout-cart-icon fa-solid fa-cart-shopping"></i>
            </div>
            <div class="checkout-cart-text">To Checkout</div>
        </button>
    </form>
</section>