﻿<title>Order</title>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        overflow: auto;
    }

    .product-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        height: 200px;
        min-height: 200px;
        width: 80%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
    }

    .product-image {
        max-width: 90%;
        max-height: 90%;
        margin: 20px;
    }

    .product-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .product-text {
        font-size: 20px;
        font-weight: bold;
    }

    .product-price {
        font-size: 150%;
        color: red;
        font-weight: bold;
    }

    .product-quantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 50px;
    }

    .product-quantity-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-quantity-count {
        font-size: 30px;
    }

    .product-remove-button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 90%;
        padding: 20px;
    }

    .product-remove-button {
        cursor: pointer;
        border-radius: 15px;
        background-color: red;
        height: 70px;
        width: 70px;
    }

    .product-remove-button-icon {
        font-size: 250%;
        color: white;
    }

    .final-price-container {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .final-price {
        font-size: 50px;
        color: red;
        font-weight: bold;
    }

    .promocode-container {
        display: flex;
        flex-direction: row;
    }

    .promocode-box {
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #999;
        height: 50px;
        width: 300px;
    }

    .promocode-apply-button {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: purple;
        cursor: pointer;
    }

    .promocode-apply-button-text {
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .checkout-button {
        margin: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        height: 100px;
        background-color: purple;
        border-radius: 15px;
        cursor: pointer;
    }

    .checkout-cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    .checkout-cart-icon {
        font-size: 300%;
        color: white;
    }

    .checkout-cart-text {
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 200%;
    }

    .product-old-price {
        font-size: 100%;
        font-weight: bold;
        color: black;
    }

    .product-price-container {
        display: flex;
        flex-direction: column;
    }
</style>
<section class="flex-container">
    @foreach (var cart in Model.Carts)
    {
        foreach (var product in Model.Products)
        {
            if (cart.ProductID == product.ProductID)
            {
                <div class="product-box">
                    <img class="product-image" src="@product.ImageURL">
                    <div class="product-info">
                        <div class="product-text">@product.Description</div>
                        @if (product.IsInPromotion)
                        {
                            <div class="product-price-container">
                                <s class="product-old-price">$@product.Price</s>
                                <div class="product-price">$@product.NewPrice</div>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">$@product.Price</div>
                        }
                    </div>
                    <div class="product-quantity">
                        <div class="product-quantity-label">Quantity:</div>
                        <div class="product-quantity-count">@cart.Quantity</div>
                    </div>
                </div>
            }
        }
    }
    <div class="final-price-container">
        <div class="final-price">Total: $@Model.Order.TotalPrice</div>
    </div>
</section>