<title>ShoppingCart</title>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        overflow: auto;
    }

    .product-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        height: 200px;
        min-height: 200px;
        width: 80%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
    }

    .product-image {
        max-width: 90%;
        max-height: 90%;
        margin: 20px;
    }

    .product-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .product-text {
        font-size: 20px;
        font-weight: bold;
    }

    .product-price {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }

    .product-quantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 50px;
    }

    .product-quantity-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-quantity-count {
        font-size: 30px;
    }

    .product-remove-button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 90%;
        padding: 20px;
        
    }

    .product-remove-button {
        cursor: pointer;
        border-radius: 15px;
        background-color: red;
        height: 70px;
        width: 70px;
    }

    .product-remove-button-icon {
        font-size: 250%;
        color: white;
    }

    .final-price-container {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .final-price {
        font-size: 50px;
        color: red;
        font-weight: bold;
    }

    .promocode-container {
        display: flex;
        flex-direction: row;
    }

    .promocode-box {
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #999;
        height: 50px;
        width: 300px;
    }

    .promocode-apply-button {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: purple;
        cursor: pointer;
    }

    .promocode-apply-button-text {
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .checkout-button {
        margin: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        height: 100px;
        background-color: purple;
        border-radius: 15px;
        cursor: pointer;
    }

    .checkout-cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    .checkout-cart-icon {
        font-size: 300%;
        color: white;
    }

    .checkout-cart-text {
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 200%;
    }
</style>
<section class="flex-container">
    <div class="product-box">
        <img class="product-image" src="https://s13emagst.akamaized.net/products/64817/64816454/images/res_77def1f199ad6f0779f5c7e562f97e5b.jpg?width=450&height=450&hash=A2C90F159431E535B9D0F413245293E8">
        <div class="product-info">
            <div class="product-text">Смартфон Samsung Galaxy S24 Ultra, Dual SIM, 12GB RAM, 512GB, 5G, Titanium Grey</div>
            <div class="product-price">Цена: 1991.00лв</div>
        </div>
        <div class="product-quantity">
            <div class="product-quantity-label">Количество:</div>
            <div class="product-quantity-count">1</div>
        </div>
        <div class="product-remove-button-container">
            <button class="product-remove-button">
                <i class="product-remove-button-icon fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
    @for (int a = 0; a < 7; a++)
    {
        <div class="product-box">
        </div>
    }
    <div class="final-price-container">
        <div class="final-price">Общо: 1991.00 лв.</div>
        <div class="promocode-container">
            <input class="promocode-box" placeholder="Въведете промокод">
            <div class="promocode-apply-button"><div class="promocode-apply-button-text">Приложи</div></div>
        </div>       
    </div>
    <button class="checkout-button">
        <div class="checkout-cart-button"><i class="checkout-cart-icon fa-solid fa-cart-shopping"></i></div>
        <div class="checkout-cart-text">Kъм касата</div>
    </button>
</section>