<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
    <title>Homepage</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            height: 100%;
        }

        .main-header {
            font-size: 60px;
            padding: 10px;
        }

        .purple-bar {
            background-color: purple;
            width: 100%;
            height: 70px;
            color: white;
            display: flex;
            justify-content: flex-start;
        }

        .container-buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .button-form {
            display: flex;
            flex-direction: column;
            justify-items: center;
        }

        .option-button {
            border-left: 1px solid black;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 17px;
            color: white;
            padding-top: 12px;
            width: 110px;
        }

        .shoppingCart-button {
            border-left: 1px solid black;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 17px;
            color: white;
            padding-top: 12px;
            width: 55px;
        }

        .border-bottom {
            background-color: white;
            height: 2px;
            width: 0%;
            transition: width 1s;
            margin-bottom: 10px;
        }

        .option-button:hover .border-bottom {
            background-color: white;
            width: 100%;
        }

        .shoppingCart-button:hover .border-bottom {
            background-color: white;
            width: 100%;
        }

        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="purple-bar">
        <h1 class="main-header">TechStore</h1>
        <section class="container-buttons">
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Лаптопи<input hidden value="laptopsButton" name="optionbutton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Телефони<input hidden value="smartphonesButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Таблети<input hidden value="tabletsButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Телевизори<input hidden value="tvsButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Монитори<input hidden value="monitorsButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Клавиатури<input hidden value="keyboardsButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Мишки<input hidden value="miceButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Слушалки<input hidden value="headphonesButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="option-button">
                    Тонколони<input hidden value="speakersButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
            <form class="button-form" method="post" asp-controller="Tech" asp-action="Homepage">
                <button type="submit" class="shoppingCart-button">
                    Н<input hidden value="shoppingCartButton" name="optionButton" />
                    <div class="border-bottom"></div>
                </button>
            </form>
        </section>
    </div>
    <div class="content">
    </div>
</body>
</html>
