@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" style="cursor:pointer">Logout</button>
    </form>

    @if (User.IsInRole("Admin"))
    {
        <p>Welcome, Admin!</p>
        <!-- Admin-specific content -->
    }
    else
    {
        <p>Welcome, Regular User!</p>
        <!-- Regular user content -->
    }
}
else
{
    <p>You are not logged in.</p>
}