@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" style="cursor:pointer">Logout</button>
    </form>
}
else
{
    <p>You are not logged in.</p>
}